<!-- About Us Section -->
<section id="about" class="text-gray-600 body-font">
    <div class="container mx-auto flex px-10 py-24 md:flex-row flex-col items-center justify-center">
        <div class="lg:w-96 md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded" alt="hero" src="images/1.jpeg">
        </div>
        <div
            class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <img class="w-10 flex mb-2" src="images/Symbol.png" alt="">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Our Story
            </h1>
            <p class="mb-4 leading-relaxed">Madhuri comes from a Chartered Accountancy background. In the year
                2013,after a road accident,she started practicing yoga. Her recovery led her to make yoga a part of her
                lifestyle. After being diagnosed with PCOS (Poly-cystic Ovaries Syndrome) and a battle with depression,
                she cured herself with the help of yoga and self-healing.</p>
            <p class="mb-4 leading-relaxed">
                This prompted her to spread the knowledge of Yoga and help others heal from their ailments. She got her
                <span class="text-mbrown">Yoga Instructor's Certification (YIC) from S-Vyasa University, Bangalore</span>. She completed her <span class="text-mbrown">RYT200</span> and
                <span class="text-mbrown">RYT Integrated Pre-natal certifications</span> as well.</p>

            <p class="mb-4 leading-relaxed">In the year 2019, she founded <span class="text-mbrown">'Madhuri Yoga'</span> and connected to people from various backgrounds and led
                them to the path of yoga.</p>

            <p class="mb-4 leading-relaxed">With her yoga sessions being simple and easy to follow, she has been able to reach out to the young and
                the old alike.Currently,with over 2,500 hours of yoga teaching experience, she has helped 100s of people
                to find peace, health and happiness through Yoga.</p>

            <p class="mb-4 leading-relaxed">
                She believes <span class="text-mbrown">Yoga is for all</span> and everyone should make it a part of their lifestyle to lead a healthy,
                happy and fulfilled life.</p>
        </div>
    </div>
</section>