<!-- Courses Section  -->
<section id="courses" class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <img class="w-10 flex mx-auto" src="images/Symbol.png" alt="">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Courses</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-500">Our fantastic courses!</p>
        </div>
        <div class="flex flex-wrap mt-4">
            <!-- Kids yoga card -->
            <div class="p-4 xl:w-1/2 md:w-1/2 w-full mb-6">
                <div class="flex justify-end mr-4">
                <img class="w-10" src="images/Symbol.png" alt=""></div>

                <div class="h-full p-6 rounded-lg border-2 border-mbrown flex flex-col relative overflow-hidden">
                    <h2 class="text-sm tracking-widest title-font mb-1 font-medium">Kids</h2>
                    <span
                        class="bg-mbrown text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl">POPULAR</span>

                    <h1 class="text-4xl text-mbrown pb-4 mb-4 border-b border-gray-200 leading-none">Arambha
                        Yoga</h1>
                    <p>Yoga is best taught at a young age. Arambha yoga is way of learning yoga with fun and
                        awareness!</p>
                    <p class="flex items-center text-gray-600 mt-4">
                        <span
                            class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-mbrown text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Live Classes
                    </p>
                    <p class="flex items-center text-gray-600 mt-2 mb-4">
                        <span
                            class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-mbrown text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>6-12yrs
                    </p>
                    <a class="flex items-center mt-auto text-white bg-mbrown rounded border-0 py-2 px-4 w-full hover:bg-myellow hover:text-mbrown"
                        href="https://rzp.io/l/aarambhayoga" target="_blank">Enroll
                        Now
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                    <div class="mt-4 text-md flex justify-between">
                        <div><button id="videoButton1"><i class="bi bi-play-fill mr-1"></i>Video</button></div>
                        <div><button
                                class="px-4 py-2 text-md bg-white text-gray-500 focus:outline-none focus:ring-0 flex items-center"><a
                                    href="/Brochures/arambha_yoga.pdf" target="_blank"><i
                                        class="bi bi-file-earmark-pdf mr-1"></i>Download</a></button></div>
                    </div>
                </div>

                <!-- Modal 1 -->
                <div style="background-color: rgba(0, 0, 0, 0.9);" id="Modal1"
                    class="fixed top-0 left-0 hidden z-50 mx-auto w-full h-full">

                    <!-- Modal content -->
                    <div class="mx-auto flex w-full md:w-3/4 flex-col p-5">
                        <div id="x1" class="flex ml-auto text-white"><i class="bi bi-x text-5xl hover:text-myellow"></i>
                        </div>
                        <div>
                            <iframe id="player1" class="w-full h-screen"
                                src="https://player.vimeo.com/video/608013690"
                                frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Beginner Yoga card -->
            <div class="p-4 xl:w-1/2 md:w-1/2 w-full mb-6">
                <div class="flex justify-end mr-4">
                    <img class="w-10" src="images/Symbol.png" alt=""></div>
                <div class="h-full p-6 rounded-lg border-2 border-mbrown flex flex-col relative overflow-hidden">
                    <h2 class="text-sm tracking-widest title-font mb-1 font-medium">Adults</h2>
                    <h1 class="text-4xl text-mbrown leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                        <span>Sarala Yoga</span>
                    </h1>
                    <p>Your journey through the philosophy of Yoga begins here. With a combination of
                        asanas,pranayama,dhyana and kriya, Sarala Yoga is a perfect blend of practices targeted
                        at exploring yoga in a holistic manner</p>
                    <p class="flex items-center text-gray-600 mt-4">
                        <span
                            class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-mbrown text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Live Classes
                    </p>
                    <p class="flex items-center text-gray-600 mt-2 mb-4">
                        <span
                            class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-mbrown text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Everyone
                    </p>
                    <a class="flex items-center mt-auto text-white bg-mbrown rounded border-0 py-2 px-4 w-full hover:bg-myellow hover:text-mbrown"
                        href="https://rzp.io/l/saralayoga" target="_blank">Enroll
                        Now
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                    <div class="mt-4 text-md flex justify-between">
                        <div><button id="videoButton2"><i class="bi bi-play-fill mr-1"></i>Video</button></div>
                        <div><button
                                class="px-4 py-2 text-md bg-white text-gray-500 focus:outline-none focus:ring-0 flex items-center"><a
                                    href="/Brochures/sarala_yoga.pdf" target="_blank"><i
                                        class="bi bi-file-earmark-pdf mr-1"></i>Download</a></button></div>
                    </div>
                </div>

                <!-- Modal 2 -->
                <div style="background-color: rgba(0, 0, 0, 0.9);" id="Modal2"
                    class="fixed top-0 left-0 hidden z-50 mx-auto w-full h-full">

                    <!-- Modal content -->
                    <div class="mx-auto flex w-3/4 flex-col p-5">
                        <div id="x2" class="flex ml-auto text-white"><i class="bi bi-x text-5xl hover:text-myellow"></i>
                        </div>
                        <div>
                            <iframe id="player2" class="w-full h-screen"
                                src="https://player.vimeo.com/video/608015306"
                                frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Emerge Card -->
            <div class="p-4 xl:w-1/2 md:w-1/2 w-full mb-6">
                <div class="flex justify-end mr-4">
                    <img class="w-10" src="images/Symbol.png" alt=""></div>
                <div class="h-full p-6 rounded-lg border-2 border-mbrown flex flex-col relative overflow-hidden">
                    <h2 class="text-sm tracking-widest title-font mb-1 font-medium">Women</h2>
                    <h1 class="text-4xl text-mbrown leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                        <span>Emerge</span>
                    </h1>
                    <p>Yoga helps immensely in managing and reversing PCOS/PCOD. Exploring PCOS reversal
                        awareness,Body movement, Changes in Lifestyle and Diet, this course is a spiritual
                        discipline for leading a healthy and happy lifestyle</p>
                    <p class="flex items-center text-gray-600 mt-4">
                        <span
                            class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-mbrown text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Live Classes
                    </p>
                    <p class="flex items-center text-gray-600 mt-4 mb-4">
                        <span
                            class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-mbrown text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Special Sessions
                    </p>
                    <a class="flex items-center mt-auto text-white bg-mbrown rounded border-0 py-2 px-4 w-full hover:bg-myellow hover:text-mbrown"
                        href="https://rzp.io/l/myogapcos" target="_blank">Enroll
                        Now
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                    <div class="mt-4 text-md flex justify-between">
                        <div><button id="videoButton3"><i class="bi bi-play-fill mr-1"></i>Video</button></div>
                        <div><button
                                class="px-4 py-2 text-md bg-white text-gray-500 focus:outline-none focus:ring-0 flex items-center"><a
                                    href="/Brochures/emerge.pdf" target="_blank"><i
                                        class="bi bi-file-earmark-pdf mr-1"></i>Download</a></button>
                        </div>
                    </div>
                </div>
                <!-- Modal 3 -->
                <div style="background-color: rgba(0, 0, 0, 0.9);" id="Modal3"
                    class="fixed top-0 left-0 hidden z-50 mx-auto w-full h-full">

                    <!-- Modal content -->
                    <div class="mx-auto flex w-3/4 flex-col p-5">
                        <div id="x3" class="flex ml-auto text-white"><i class="bi bi-x text-5xl hover:text-myellow"></i>
                        </div>
                        <div>
                            <iframe id="player3" class="w-full h-screen"
                            src="https://player.vimeo.com/video/608012297"
                            frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Corporate Card -->
            <div class="p-4 xl:w-1/2 md:w-1/2 w-full mb-6">
                <div class="flex justify-end mr-4">
                    <img class="w-10" src="images/Symbol.png" alt=""></div>
                <div class="h-full p-6 rounded-lg border-2 border-mbrown flex flex-col relative overflow-hidden">
                    <h2 class="text-sm tracking-widest title-font mb-1 font-medium">Everyone</h2>
                    <h1 class="text-4xl text-mbrown leading-none flex items-center pb-4 mb-4 border-b border-gray-200">
                        <span>Corporate Yoga</span>
                    </h1>
                    <p>A holistic methodology to improve employee morale and stress levels, corporate yoga is known to
                        increase productivity and help in work-life balance.</p>
                    <p class="flex items-center text-gray-600 mt-4">
                        <span
                            class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-mbrown text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Live Classes
                    </p>
                    <p class="flex items-center text-gray-600 mt-4 mb-4">
                        <span
                            class="w-4 h-4 mr-2 inline-flex items-center justify-center bg-mbrown text-white rounded-full flex-shrink-0">
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2.5" class="w-3 h-3" viewBox="0 0 24 24">
                                <path d="M20 6L9 17l-5-5"></path>
                            </svg>
                        </span>Special Sessions
                    </p>
                    <a class="flex items-center mt-auto text-white bg-mbrown rounded border-0 py-2 px-4 w-full hover:bg-myellow hover:text-mbrown"
                        href="#contact">Enquire Now

                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="2" class="w-4 h-4 ml-auto" viewBox="0 0 24 24">
                            <path d="M5 12h14M12 5l7 7-7 7"></path>
                        </svg>
                    </a>
                    <div class="mt-4 text-md flex justify-between">
                        <div><button disabled id="videoButton4"><i class="bi bi-play-fill mr-1"></i>Video</button></div>
                        <div><button
                                class="px-4 py-2 text-md bg-white text-gray-500 focus:outline-none focus:ring-0 flex items-center"><a
                                    href="/Brochures/corporate_yoga.pdf" target="_blank"><i
                                        class="bi bi-file-earmark-pdf mr-1"></i>Download</a></button>
                        </div>
                    </div>
                </div>
                <!-- Modal 4 -->
                <div style="background-color: rgba(0, 0, 0, 0.9);" id="Modal4"
                    class="fixed top-0 left-0 hidden z-50 mx-auto w-full h-full">

                    <!-- Modal content -->
                    <div class="mx-auto flex w-3/4 flex-col p-5">
                        <div id="x4" class="flex ml-auto text-white"><i class="bi bi-x text-5xl hover:text-myellow"></i>
                        </div>
                        <div>
                            <iframe id="player4" class="w-full h-screen"
                                src="https://player.vimeo.com/video/608015306?h=1eaaeb3249&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                                frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen
                                title="Sarala Yoga-Yoga for Beginners"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>