<div class="flex">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="none" class="fill-current text-mbrown"
            d="M0,64L48,96C96,128,192,192,288,202.7C384,213,480,171,576,176C672,181,768,235,864,245.3C960,256,1056,224,1152,213.3C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
</div>
<footer class="bg-mbrown text-white flex flex-col justify-around h-44">
    <div class="flex mx-auto items-center space-x-8 px-2">
        <a class="text-white text-3xl hover:text-myellow" target="_blank"
            href="https://www.instagram.com/madhuri_yoga/"><i class="bi bi-instagram"></i></a>
        <a class="text-white text-3xl hover:text-myellow" target="_blank"
            href="https://www.facebook.com/madhuriashtangayoga/"><i class="bi bi-facebook"></i></a>
        <a class="text-white text-4xl hover:text-myellow" target="_blank"
            href="https://www.youtube.com/channel/UCLqXn8P4LdwG8AS5Cc_QUuw"><i class="bi bi-youtube"></i></a>
    </div>
    <div class="flex mx-auto items-center">
        <p>All rights reserved @ Madhuri Yoga, 2021</p>
    </div>
</footer>