<!-- Gallery Area -->
<section id="gallery" class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <img class="w-10 flex mx-auto" src="images/Symbol.png" alt="">

        <!-- start -->
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Showcase</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Our little masters!</p>
        </div>

        <div class="container mx-auto space-y-2 lg:space-y-0 lg:gap-2 lg:grid lg:grid-cols-3">
            <div class="w-full">
                <img class="rounded-lg" src="/Gallery/1.jpg" alt="image">
            </div>
            <div class="w-full">
                <img class="rounded-lg" src="/Gallery/4.jpg" alt="image">
            </div>
            <div class="w-full rounded">
                <img class="rounded-lg" src="/Gallery/3.jpg" alt="image">
            </div>
            <div class="w-full rounded">
                <img class="rounded-lg" src="/Gallery/7.jpg" alt="image">
            </div>
            <div class="w-full rounded">
                <img class="rounded-lg" src="/Gallery/5.jpg" alt="image">
            </div>

            <div class="w-full rounded">
                <img class="rounded-lg" src="/Gallery/6.jpg" alt="image">
            </div>

            <div class="w-full rounded">
                <img class="rounded-lg" src="/Gallery/8.jpg" alt="image">
            </div>

            <div class="w-full rounded">
                <img class="rounded-lg" src="/Gallery/2.jpg" alt="image">
            </div>
            <div class="w-full rounded">
                <img class="rounded-lg" src="/Gallery/9.jpg" alt="image">
            </div>
        </div>
        <!-- end -->

    </div>
</section>