<!-- Navbar -->
<header class="bg-mbrown text-white sticky top-0 z-10">
    <nav>
        <div class="flex mx-auto max-w-7xl text-xl justify-between md:px-2">
            <div class="flex items-center px-5 py-5 navimage">
                <a href="#">
                    <img class="h-16 logoimg" src="/images/white_logo.png" alt="">
                </a>
            </div>
            <div class="hidden md:flex items-center space-x-5  navtext">
                <a class="border-b-4 border-transparent hover:border-myellow" href="#about">About</a>
                <a class="border-b-4 border-transparent hover:border-myellow" href="#courses">Courses</a>
                <a class="border-b-4 border-transparent hover:border-myellow" href="#love">Love</a>
                <a class="border-b-4 border-transparent hover:border-myellow" href="#gallery">Gallery</a>
                <a class="border-b-4 border-transparent hover:border-myellow" href="#blog">Blog</a>
                <a class="border-b-4 border-transparent hover:border-myellow" href="#contact">Contact</a>
            </div>
            <div class="hidden lg:flex items-center space-x-4 px-2">
                <a class="text-white text-xl hover:text-myellow" target="_blank" href="https://www.instagram.com/madhuri_yoga/"><i
                        class="bi bi-instagram"></i></a>
                <a class="text-white text-xl hover:text-myellow" target="_blank"
                    href="https://www.facebook.com/madhuriashtangayoga/"><i class="bi bi-facebook"></i></a>
                <a class="text-white text-xl hover:text-myellow" target="_blank"
                    href="https://www.youtube.com/channel/UCLqXn8P4LdwG8AS5Cc_QUuw"><i
                        class="bi bi-youtube"></i></a>
            </div>
            <div class="flex items-center px-4 md:hidden">
                <button class="menu-button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 open" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h7" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 close hidden" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="flex flex-col hidden mobile-menu md:hidden">
            <a class="text-xl mx-auto py-2 border-b-4 border-transparent hover:border-myellow" href="#about">About</a>
            <a class="text-xl mx-auto py-2 border-b-4 border-transparent hover:border-myellow"
                href="#courses">Courses</a>
            <a class="text-xl mx-auto py-2 border-b-4 border-transparent hover:border-myellow" href="#love">Love</a>
            <a class="text-xl mx-auto py-2 border-b-4 border-transparent hover:border-myellow"
                href="#gallery">Gallery</a>
            <a class="text-xl mx-auto py-2 border-b-4 border-transparent hover:border-myellow" href="#blog">Blog</a>
            <a class="text-xl mx-auto py-2 border-b-4 border-transparent hover:border-myellow"
                href="#contact">Contact</a>
        </div>
    </nav>
</header>