<header class="bg-mbrown  text-white sticky top-0 z-10">
    <nav>
        <div class="flex mx-auto max-w-7xl text-xl justify-between md:px-2">
            <div class="flex items-center px-5 py-5 navimage">
                <a href="/">
                    <img class="h-16 logoimg" src="/images/white_logo.png" alt="">
                </a>
            </div>
            <div class="flex items-center space-x-5 navtext md:pr-15 pr-5">
                <a class="border-b-4 border-transparent hover:border-myellow" href="/posts">All Posts</a>
            </div>
        </div>
    </nav>
</header>
