<!-- Hero Section -->
<section class="text-gray-600 body-font">
    <div class="flex">
        <svg id="visual" viewBox="0 0 1980 100" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
            <rect x="0" y="0" width="1980" height="100" fill="#ffffff"></rect>
            <path
                d="M0 49L47.2 55.3C94.3 61.7 188.7 74.3 283 69.8C377.3 65.3 471.7 43.7 566 29.8C660.3 16 754.7 10 848.8 19.3C943 28.7 1037 53.3 1131.2 55.7C1225.3 58 1319.7 38 1414 28.5C1508.3 19 1602.7 20 1697 27.8C1791.3 35.7 1885.7 50.3 1932.8 57.7L1980 65L1980 0L1932.8 0C1885.7 0 1791.3 0 1697 0C1602.7 0 1508.3 0 1414 0C1319.7 0 1225.3 0 1131.2 0C1037 0 943 0 848.8 0C754.7 0 660.3 0 566 0C471.7 0 377.3 0 283 0C188.7 0 94.3 0 47.2 0L0 0Z"
                fill="#6E2F2F" stroke-linecap="round" stroke-linejoin="miter"></path>
        </svg>
    </div>
    <!-- <div class="container mx-auto flex px-5 pb-24 pt-4 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="mx-auto object-cover object-center rounded-xl w-full" alt="hero" src="images/hero.jpeg">
        </div> -->
        <!-- <div
            class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center"> -->
            <div
            class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <div class="sm:mx-auto">
                <img class="p-1 object-cover object-center rounded-xl md:w-1/3 w-1/2 mx-auto md:ml-0"
                    src="images/Madhuri_Yoga_New_Logo.jpg" alt="">
            </div>
            <h4 class="title-font sm:text-2xl text-lg mb-4 pt-4 font-medium text-gray-900">यद् भावम् तद् भवथि</h4>
            
            <!-- <h4 class="title-font sm:text-2xl text-lg mb-4 font-medium text-gray-900">Be Kind, Be Healthy, Be
                Happy </h4> -->
<!-- 
            <p class="mb-8 leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolor
                laudantium itaque commodi non fuga consequatur possimus ipsum officiis nihil.</p>
                 -->
            <div class="flex justify-center mt-4">
                <a class="inline-flex text-white bg-mbrown border-0 py-2 px-6 focus:outline-none rounded text-lg hover:bg-myellow hover:text-mbrown"
                    href="#courses">Explore Courses</a>
            </div>
        </div>
    </div>
</section>