<!-- Testimonials Section  -->
<section id="love" class="text-gray-600 body-font py-16">
    <div class="flex flex-col text-center w-full mb-2">
        <img class="w-10 flex mx-auto" src="images/Symbol.png" alt="">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-4 text-gray-900">Love</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Here is what people say about us</p>
    </div>
    <div class="container px-5 py-12 mx-auto">
        <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-8 h-8 mb-8 fill-current text-myellow"
                viewBox="0 0 975.036 975.036">
                <path
                    d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                </path>
            </svg>
            <p class="leading-relaxed text-lg">I got to know about Madhuri ma'am through my nephew who happens
                to attend her class. As a believer in yogic lifestyle, I enrolled my daughter in Aarambha Yoga
                course, an one hour class conducted by Madhuri ma'am thrice a week for kids. I must say that my
                daughter had greatly benefitted and will be so in the future as well because of the classes.
                Madhuri ma'am has blended both technical and practical use of yoga into her classes apart from
                teaching the aasanas and breathing techniques. Her unique teaching skills, excellent handling of
                children, utmost patience yet stern teaching makes me, as a parent, wonder about where she gets
                all these lovable traits. She makes the classes very interesting by including quizzes, surprise
                tests, asanas challenge and lifestyle discussions. A perfect blend of all these makes my
                daughter very eager to attend, learn and practice yoga for which i am always thankful to Madhuri
                ma'am. I wish her many many more years of teaching and may the society and world benefit from
                her teaching. I strongly believe that introducing yoga and yogic lifestyle in children will
                benefit them not only physically but aid in their mental health as well and Madhuri ma'am's way
                of teaching achieves that!!</p>
            <span class="inline-block h-1 w-10 rounded bg-myellow mt-8 mb-2"></span>
            <p class="text-gray-500">Shubha Dilip, Anagha's mother</p>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-2 mx-auto">
        <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                class="inline-block w-8 h-8 fill-current text-myellow mb-8" viewBox="0 0 975.036 975.036">
                <path
                    d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                </path>
            </svg>
            <p class="leading-relaxed text-lg">The Covid lockdown restriction saw many children's natural
                routine coming to a standstill. Free play, physical movement etc got restricted. This started
                taking a toll on their mental and physical personalities. That is when we came across Madhuri's
                Yoga sessions. Right from the first class, my son felt a comfort level and he found a space
                where there was absolutely no judgement. I could see him slowly becoming in sync with his own
                body and discovering his capabilities step by step. Madhuri seems to have a way with children as
                one can make out with her interactions with them. The focus was always on trying to better your
                own self than yesterday. Never a competition with anyone else. So this gave him the boost and
                desire to push his own capabilities. For someone who couldn't imagine squatting down , now does
                a full split comfortably. As my son says, yoga with Madhuri ma'am is not an exercise. It is like
                an adventure to know what next your body can do. He never misses a class and will always look
                forward to it.</p>
            <p class="leading-relaxed text-lg pt-4">
                In fact, it was him who inspired me to follow his footsteps and join her classes. I could
                experience everything he said. Her classes are indeed a space of discovering your own body's
                capabilities and that one hour gives you the much needed connect with your own self. I started
                yoga again after almost 8-10 years break. Madhuri comes across as a very passionate guide and
                never has any short cuts to follow the latest fads. She will explain every concept and has
                immense patience to give us our space. You will come out feeling so calm, energised and at peace
                in that one hour. I am proud to say that she pushes you to challenge your own self and for a new
                comer like me , she got me to do 21 Surya namaskars non stop. And this is just the beginning.

                Thank you so much, Madhuri for what you do!</p>
            <span class="inline-block h-1 w-10 rounded bg-myellow mt-8 mb-2"></span>
            <p class="text-gray-500">Avyukth Nayar and Divya Menon</p>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto">
        <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                class="inline-block w-8 h-8 fill-current text-myellow mb-8" viewBox="0 0 975.036 975.036">
                <path
                    d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z">
                </path>
            </svg>
            <p class="leading-relaxed text-lg">
                Myself and my daughter, we both love the way Madhuri teaches yoga. I appreciate her dedication
                and to make Yoga as a part of our daily life in all the possible way we can. I like the special
                sessions for Trataka, PCOS/PCOD, Jal Neti etc., and also handling children in her classes. We
                both enjoy attending Madhuri's classes and wonder at myself many times about my flexibility I
                gained over a period of time. Amazing with my daughters performance too, in Ashtanga Yoga. I
                wish Madhuri to get more and more opportunities to bring a great impact of yoga in many people's
                life.</p>
            <span class="inline-block h-1 w-10 rounded bg-myellow mt-8 mb-6"></span>
            <p class="text-gray-500">Anuradha and her daughter Tejaswini</p>
        </div>
    </div>
</section>
