<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script>
    const btn = document.querySelector('button.menu-button');
    const open_btn = document.querySelector('svg.open');
    const close_btn = document.querySelector('svg.close');
    const menu = document.querySelector('.mobile-menu');
    btn.addEventListener("click", () => {
        menu.classList.toggle('hidden');
        open_btn.classList.toggle('hidden');
        close_btn.classList.toggle('hidden');
    });

    menu.addEventListener("click", () => {
        if (open_btn.classList.contains('hidden')) {
            open_btn.classList.remove('hidden');
        }

        if (!close_btn.classList.contains('hidden')) {
            close_btn.classList.add('hidden');
        }

        if (!menu.classList.contains('hidden')) {
            menu.classList.add('hidden');
        }
    });

    // // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 120 || document.documentElement.scrollTop > 80) {
            document.querySelector(".navtext").classList.add('text-lg');
            document.querySelector(".navimage").classList.remove('py-5');
            document.querySelector(".navimage").classList.add('py-2');
            document.querySelector(".logoimg").classList.remove('h-16');
            document.querySelector(".logoimg").classList.add('h-10');

        } else {
            document.querySelector(".navtext").classList.remove('text-lg');
            document.querySelector(".navimage").classList.remove('py-2');
            document.querySelector(".navimage").classList.add('py-5');
            document.querySelector(".logoimg").classList.remove('h-10');
            document.querySelector(".logoimg").classList.add('h-16');
        }
    }


    var iframe1 = document.getElementById('player1');
    var player1 = new Vimeo.Player(iframe1);
    var iframe2 = document.getElementById('player2');
    var player2 = new Vimeo.Player(iframe2);
    var iframe3 = document.getElementById('player3');
    var player3 = new Vimeo.Player(iframe3);
    var iframe4 = document.getElementById('player4');
    var player4 = new Vimeo.Player(iframe4);

    var btn1 = document.getElementById("videoButton1");
    var btn2 = document.getElementById("videoButton2");
    var btn3 = document.getElementById("videoButton3");
    var btn4 = document.getElementById("videoButton4");

    let modal1 = document.getElementById("Modal1");
    let modal2 = document.getElementById("Modal2");
    let modal3 = document.getElementById("Modal3");
    let modal4 = document.getElementById("Modal4");

    var close1 = document.getElementById("x1");
    var close2 = document.getElementById("x2");
    var close3 = document.getElementById("x3");
    var close4 = document.getElementById("x4");


    btn1.onclick = function () {
        modal1.classList.remove("hidden")
    }

    btn2.onclick = function () {
        modal2.classList.remove("hidden")
    }

    btn3.onclick = function () {
        modal3.classList.remove("hidden")
    }

    btn4.onclick = function () {
        modal4.classList.remove("hidden")
    }


    // let player=document.getElementById('player1')
    // When the user clicks on <span> (x), close the modal
    close1.onclick = function () {
        modal1.classList.add("hidden")
        player1.pause().then(function () {
            // The video is paused
        })
    }

    close2.onclick = function () {
        modal2.classList.add("hidden")
        player2.pause().then(function () {
            // The video is paused
        })
    }

    close3.onclick = function () {
        modal3.classList.add("hidden")
        player3.pause().then(function () {
            // The video is paused
        })
    }

    close4.onclick = function () {
        modal4.classList.add("hidden")
        player4.pause().then(function () {
            // The video is paused
        })
    }


</script>