<div class="mt-4 text-2xl md:text-3xl mx-auto w-full md:w-1/2 flex justify-around">
    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ .Title| plainify }} on facebook"
        href="https://facebook.com/sharer/sharer.php?u={{ .Permalink}}">
        <i class="bi bi-facebook hover:text-mbrown"></i>
    </a>

    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ .Title | plainify }} on twitter"
        href="https://twitter.com/intent/tweet/?text={{ .Title }}&amp;url={{ .Permalink }}&amp;hashtags={{- $.Scratch.Get "tags" -}}">
        <i class="bi bi-twitter hover:text-mbrown"></i>
    </a>

    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ .Title| plainify }} on linkedin"
        href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink}}&amp;title={{ .Title}}&amp;summary={{ .Title}}&amp;source={{ .Permalink}}">
        <i class="bi bi-linkedin hover:text-mbrown"></i>
    </a>

    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ .Title| plainify }} on whatsapp"
        href="https://api.whatsapp.com/send?text={{ .Title}}%20-%20{{ .Permalink}}">
        <i class="bi bi-whatsapp hover:text-mbrown"></i>
    </a>

    <a target="_blank" rel="noopener noreferrer" aria-label="share {{ .Title| plainify }} on telegram"
        href="https://telegram.me/share/url?text={{ .Title}}&amp;url={{ .Permalink}}">
        <i class="bi bi-telegram hover:text-mbrown"></i>
    </a>
</div>